
 div1{
     width: 30%;
     float: left;
 }
div2{
     width:70%;
     float: right;
 }

a ,b,c,d,e{   
      color: white;
      background-color: black;
      font-weight: bold;
  }
